* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 2rem;
  padding-bottom: 1rem;
}

input {
  display: block;
  margin: auto;
  padding: 1rem;
  font-size: 0.8rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 20%;
}

#initial-price,
#stocks-quantity,
#current-price {
  display: block;
}

button {
  display: block;
  margin: auto;
  border: none;
  background-color: #2563eb;
  color: #f3f3f3;
  font-weight: 700;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  width: 25%;
  margin-top: 3.2rem;
}

#output-box {
  margin: 3.5rem;
  text-align: center;
  font-size: 1.5rem;
}
